html{
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}
header{
    width: 1024px;
    padding: 0px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
}
header .topimg{
   padding-top: 10px;
    width: 100px; 
    height: 5px;  
    background-size: cover; 
    float: left;
}
header .topfornt{
    display: flex; /*lex는 수평이 될 요소들의 Container(box-container)에 display: flex;를 적용합니다.*/
    justify-content: space-around;  /*항목은 기본 축을 따라 정렬 컨테이너 내에서 고르게 분포됩니다. 인접한 항목의 각 쌍 사이의 간격은 동일합니다. 
                              첫 번째 항목 앞과 마지막 항목 뒤의 빈 공간은 각 인접한 항목 쌍 사이의 공간의 절반과 같습니다.*/
    font-size: small;
    padding-top: 17px;
    text-decoration:none
}
section{
    width: 650px; 
    height: 50px;
}
section img{
    width: 1024px; 
    height: 760px;
}
